<div class="pm-boxed">
    <div class="pm-header">
        <h4>{{heading}}</h4>
        <a href="javascript:void(0);" class="pm-btn-close">X</a>
    </div>
    <div class="pm-desc">
        <img src="{{imageContent}}" alt="content photo">
        <p>{{paragraph}}</p>
    </div>
</div>